<html>
<center>
  <h1>Restricted Area</h1>

  <h2>Due to price increase on ammo, do not expect a warning shot</h2>

  <h3>You must login! 
  	  If you're not registered, please contact the administrator at admin@carsapp.com
  </h3>
</center>
<button><a href="http://localhost:4567/">Volver</a></button>
</html>